﻿@model utb_eshop_patek.Application.Client.ViewModels.Ratings.RatingViewModel

@{
    ViewData["Title"] = "Index";
}

<!-- Font Awesome Icon Library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>

    /* use display:inline-flex to prevent whitespace issues. alternatively, you can put all the children of .rating-group on a single line */
    .rating-group {
        display: inline-flex;
    }

    /* make hover effect work properly in IE */
    .rating__icon {
        pointer-events: none;
    }

    /* hide radio inputs */
    .rating__input {
        position: absolute !important;
        left: -9999px !important;
    }

    /* set icon padding and size */
    .rating__label {
        cursor: pointer;
        padding: 0 0.1em;
        font-size: 2rem;
    }

    /* set default star color */
    .rating__icon--star {
        color: orange;
    }

    /* set color of none icon when unchecked */
    .rating__icon--none {
        color: #eee;
    }

    /* if none icon is checked, make it red */
    .rating__input--none:checked + .rating__label .rating__icon--none {
        color: red;
    }

    /* if any input is checked, make its following siblings grey */
    .rating__input:checked ~ .rating__label .rating__icon--star {
        color: #ddd;
    }

    /* make all stars orange on rating group hover */
    .rating-group:hover .rating__label .rating__icon--star {
        color: orange;
    }

    /* make hovered input's following siblings grey on hover */
    .rating__input:hover ~ .rating__label .rating__icon--star {
        color: #ddd;
    }

    /* make none icon grey on rating group hover */
    .rating-group:hover .rating__input--none:not(:hover) + .rating__label .rating__icon--none {
        color: #eee;
    }

    /* make none icon red on hover */
    .rating__input--none:hover + .rating__label .rating__icon--none {
        color: red;
    }

</style>

<h2 class="header">Hodnocení zboží @Model.ProductName</h2> 

<table class="table">
    <thead>
        <tr>
            <th>
                Slovní hodnocení:
            </th>
            <th>
                Oblíbenost:
            </th>

        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <div>
                    <textarea id="comment" name="message" rows="10" cols="120" placeholder="Vaše hodnocení..."></textarea>
                </div>
            </td>
            <td>
                <div class="row">
                    <div class="col-md-10">
                        <div id="stars" class="rating-group">
                            <input class="rating__input rating__input--none" name="rating" id="rating-none" value="0" type="radio" checked>
                            <label aria-label="No rating" class="rating__label" for="rating-none"><i class="rating__icon rating__icon--none fa fa-ban"></i></label>
                            <label aria-label="1 star" class="rating__label" for="rating-1"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                            <input class="rating__input" name="rating" id="rating-1" value="1" type="radio">
                            <label aria-label="2 stars" class="rating__label" for="rating-2"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                            <input class="rating__input" name="rating" id="rating-2" value="2" type="radio">
                            <label aria-label="3 stars" class="rating__label" for="rating-3"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                            <input class="rating__input" name="rating" id="rating-3" value="3" type="radio">
                            <label aria-label="4 stars" class="rating__label" for="rating-4"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                            <input class="rating__input" name="rating" id="rating-4" value="4" type="radio">
                            <label aria-label="5 stars" class="rating__label" for="rating-5"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                            <input class="rating__input" name="rating" id="rating-5" value="5" type="radio">
                        </div>
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
</table>
<a id="add-rating" class="btn btn-primary" asp-controller="Products" asp-action="Detail" asp-route-id="@Model.ProductID">Přidat hodnocení</a>
<a class="btn btn-danger" asp-controller="Products" asp-action="Detail" asp-route-id="@Model.ProductID">Zpět</a>

@section scripts{
    <script>
    $(document).ready(() => {
        $('#add-rating').click(rate);
        $('#stars').change(setRating);
    });

        var $chosenStars = 0;

        function setRating() {
            chosenStars = $("input[name='rating']:checked").val();
        }

        function rate() {
            var id = @Model.ProductID;
            var comment = $(this).closest('div').find('textarea').val();
            var userRating = chosenStars;

        $.ajax({
            method: 'POST',
            url: '@Url.Action("AddRating", "Ratings")',
            data: { id: id, comment: comment, rateValue: userRating},
            success: function () {
            }
        })
    }
    </script>
}