﻿@model utb_eshop_patek.Application.Admin.ViewModels.Products.ProductViewModel

@{
    ViewData["Title"] = "Detail";
}

<!-- Font Awesome Icon Library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>

    /* use display:inline-flex to prevent whitespace issues. alternatively, you can put all the children of .rating-group on a single line */
    .rating-group {
        display: inline-flex;
    }

    /* make hover effect work properly in IE */
    .rating__icon {
        pointer-events: none;
    }

    /* hide radio inputs */
    .rating__input {
        position: absolute !important;
        left: -9999px !important;
    }

    /* set icon padding and size */
    .rating__label {
        cursor: pointer;
        padding: 0 0.1em;
        font-size: 2rem;
    }

    /* set default star color */
    .rating__icon--star {
        color: orange;
    }

    /* set color of none icon when unchecked */
    .rating__icon--none {
        color: #eee;
    }

    /* if none icon is checked, make it red */
    .rating__input--none:checked + .rating__label .rating__icon--none {
        color: red;
    }

    /* if any input is checked, make its following siblings grey */
    .rating__input:checked ~ .rating__label .rating__icon--star {
        color: #ddd;
    }
</style>



<h2>Detail</h2>

<div>
    <div class="row">
        <div class="col-md-1">
            <h4>@Model.Name</h4>
        </div>
        <div class="col-md-2" id="full-stars-example">
            <div class="rating-group">
                <input class="rating__input rating__input--none" name="rating" id="rating-none" value="0" type="radio" disabled>
                <label aria-label="No rating" class="rating__label" for="rating-none"><i class="rating__icon rating__icon--none fa fa-ban"></i></label>
                <label aria-label="1 star" class="rating__label" for="rating-1"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                <input class="rating__input" name="rating" id="rating-1" value="1" type="radio" disabled>
                <label aria-label="2 stars" class="rating__label" for="rating-2"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                <input class="rating__input" name="rating" id="rating-2" value="2" type="radio" disabled>
                <label aria-label="3 stars" class="rating__label" for="rating-3"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                <input class="rating__input" name="rating" id="rating-3" value="3" type="radio" disabled>
                <label aria-label="4 stars" class="rating__label" for="rating-4"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                <input class="rating__input" name="rating" id="rating-4" value="4" type="radio" disabled>
                <label aria-label="5 stars" class="rating__label" for="rating-5"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                <input class="rating__input" name="rating" id="rating-5" value="5" type="radio" disabled>
            </div>
        </div>
        @if (Model.EnableRatings == true)
        {
            if (Model.Login != null)
            {
                <div class="col-md-9">
                    <a id="rate" class="btn btn-primary" data-name="@Model.Name" asp-controller="Ratings" asp-action="Index" asp-route-id="@Model.ID" asp-route-name="@Model.Name">Ohodnotit</a>
                </div>
            }
            else
            {
                <div class="col-md-9">
                    <button class="btn btn-primary" disabled>Pro přidání hodnocení je potřeba se přihlásit</button>
                </div>
            }

        }
        else
        {
            <div class="col-md-9">
                <button class="btn btn-primary" disabled>K tomuto produktu nelze přidávat hodnocení</button>
            </div>
        }

    </div>
    <hr />
    <div class="row">
        <div class="col-md-5">
            <img src="@Model.ImageURL" alt="@Model.Name" style="max-height:200px;" />
        </div>
        <div class="col-md-3">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Price)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Price)
                </dd>
            </dl>
        </div>
        <div class="col-md-2">
            <input class="form-control" type="number" value="1" />
            <button id="add-to-cart" data-id="@Model.ID" class="btn btn-primary">Přidat do košíku</button>

            <div class="alert alert-success" id="success-alert" style="display:none;">
                <button type="button" class="close" data-dismiss="alert">x</button>
                <strong>Added!</strong>
            </div>
        </div>
    </div>
</div>
<hr />
@if (Model.EnableRatings == true)
{
    <h3>Hodnocení produktu:</h3>
    <div>

        @foreach (var rating in Model.ratings)
        {
            if(rating.IsDeleted==false){
                <div class="col-sm-4">
                    <dl class="dl-horizontal">
                        <dt>
                            Uživatel:
                        </dt>
                        <dd>
                            @rating.UserName
                        </dd>
                        <dt>
                            Hodnocení:
                        </dt>
                        <dd>
                            @rating.Comment
                        </dd>
                        <dt>
                            Počet Hvězdiček:
                        </dt>
                        <dd>
                            @rating.RatingValue
                        </dd>
                    </dl>
                </div>
            }
        }


    </div>
}
<div class="row"></div>



@section scripts{
    <script>
    $(document).ready(() => {
        $('#add-to-cart').click(addToCart);
        var stars = $("input[value='@Model.ratingRatio']");
        stars.attr('checked', 'checked');
    });

    function addToCart() {
        var id = $(this).data('id');
        var amount = $(this).closest('div').find('input').val();

        $.ajax({
            method: 'POST',
            url: '@Url.Action("AddToCart", "Carts")',
            data: {id: id, amount: amount},
            success: function () {
                $("#success-alert").fadeTo(2000, 500).slideUp(500, function(){
                    $("#success-alert").slideUp(500);
                });
            }
        })
        }
    </script>
}
