﻿@model ProductViewModel

@{
    ViewData["Title"] = "Ratings";
}
<div class="row Ratings">
    <h2>
        Hodnocení produktu @Model.Name

        @if (Model.EnableRatings == false)
        {
            <button type="button" class="btn btn-enable-ratings btn-success">Povolit zobrazení hodnocení</button>
        }
        else
        {
            <button type="button" class="btn btn-disable-ratings btn-danger">Zakázat zobrazení hodnocení</button>
        }

    </h2>
</div>           
<table class="table">
    <thead>

    </thead>
    <tbody>
        <tr>
            <th>
                ID
            </th>
            <th>
                Hodnocení
            </th>
            <th>
                Počet Hvězdiček
            </th>
            <th></th>
        </tr>
        @foreach (var item in Model.ratings)
        {
            if (item.IsDeleted == false)
            {
                <tr>
                    <td class="id">
                        @Html.DisplayFor(modelItem => item.ID)
                    </td>
                    <td class="comment">
                        @Html.DisplayFor(modelItem => item.Comment)
                    </td>
                    <td class="value">
                        @Html.DisplayFor(modelItem => item.RatingValue)
                    </td>

                    <td class="actions">
                        <button data-id="@item.ID" type="button" class="btn btn-danger btn-disable">Nezobrazovat</button>
                    </td>

                </tr>
            }
            else
            {
                <tr>
                    <td class="id">
                        @Html.DisplayFor(modelItem => item.ID)
                    </td>
                    <td class="comment">
                        @Html.DisplayFor(modelItem => item.Comment)
                    </td>
                    <td class="value">
                        @Html.DisplayFor(modelItem => item.RatingValue)
                    </td>

                    <td class="actions">
                        <button data-id="@item.ID" type="button" class="btn btn-enable btn-success">Zobrazovat</button>
                    </td>

                </tr>
            }

        }
    </tbody>
</table>

@section scripts{
    <script>
        $(document).ready(() => {
            $(document).on('click', '.btn-enable-ratings', enableRatings);
            $(document).on('click', '.btn-disable-ratings', disableRatings); 
            $(document).on('click', '.btn-enable', enable);
            $(document).on('click', '.btn-disable', disable);
        });

        function enable() {
            const row = $(this).closest('tr');
            let id = $(this).data('id');
            deleteRating(id,false);   
            row.find('.actions').html('<button data-id="item.ID" type="button" class="btn btn-danger btn-disable">Nezobrazovat</button>');
        }

        function disable() {
            const row = $(this).closest('tr');
            let id = $(this).data('id');
            deleteRating(id,true);
            row.find('.actions').html('<button data-id="item.ID" type="button" class="btn btn-enable btn-success">Zobrazovat</button>');
        }

    function deleteRating(id,value) {

    $.ajax({
        url: '@Url.Action("DeleteRating")',
        data: { id: id, value: value },
        success: function () {
        }
    });
    }

    function enableRatings() {
    enableOrDisable(true);
    $("div.Ratings").replaceWith(
        '<div class="row Ratings">'
        + '<h2>Hodnocení produktu @Model.Name '
        + '<button type="button" class="btn btn-disable-ratings btn-danger">Zakázat zobrazení hodnocení</button>'
        + '</h2>'
    +'</div>');
    }

    function disableRatings() {
    enableOrDisable(false);
    $("div.Ratings").replaceWith(
        '<div class="row Ratings">'
        + '<h2> Hodnocení produktu @Model.Name '
        + '<button type="button" class="btn btn-enable-ratings btn-success">Povolit zobrazení hodnocení</button>'
        + '</h2>'
    +'</div>');
    }

    function enableOrDisable(boolean) {
    var productid = @Model.ID;
    $.ajax({
        method: 'POST',
        url: '@Url.Action("EnableRatings")',
        data: { productID: productid, value: boolean }
    });
    }
    </script>
}
